*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  padding: 0 30px;
}
