.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--burger {
    width: 24px;
    height: 24px;
    background-image: url('../assets/images/icons/burger.svg');
  }

  &--menu {
    width: 12px;
    height: 24px;
    background-image: url('../assets/images/icons/menu.svg');
  }

  &--paint-bucket {
    background-image: url('../assets/images/icons/paint-bucket.svg');
  }

  &--eyedropper {
    background-image: url('../assets/images/icons/eyedropper.svg');
  }

  &--pencil {
    background-image: url('../assets/images/icons/pencil.svg');
  }

  &--transform {
    background-image: url('../assets/images/icons/transform.svg');
  }
}