.today-weather {
  grid-area: today-weather;
  justify-self: center;
  align-self: center;
  margin-top: 40px;

  @media (min-width: 992px) {
    justify-self: flex-start;
    margin-top: 0;
  }

  @media (min-width: 1200px) {
    align-self: flex-start;
    margin-top: 57px;
  }

  &__city {
    margin-bottom: 4px;
    font-weight: bold;
    font-size: rem(44);
    line-height: rem(54);
    text-transform: uppercase;
  }

  &__date {
    display: flex;
    font-weight: 600;
    font-size: rem(24);
    line-height: rem(29);
  }

  &__time {
    margin-left: 18px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'temp icon'
                         'temp info';
    grid-row-gap: 10px;
    grid-column-gap: 40px;
    margin-top: 30px;

    @media (min-width: 420px) {
      grid-column-gap: 40px;
    }

    @media (min-width: 576px) {
      margin-top: 20px;
      grid-row-gap: 20px;
      grid-column-gap: 82px;
    }
  }

  &__temp {
    grid-area: temp;
    align-self: center;
    position: relative;
    font-weight: bold;
    font-size: 12rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 480px) {
      font-size: 14rem;
    }

    @media (min-width: 576px) {
      font-size: rem(306);
      align-self: flex-start;
    }

    span {
      position: relative;
    }

    span::after {
      content: '°';
      position: absolute;
      top: 40px;
      right: -25px;
      font-size: rem(100);
      line-height: 0;
      z-index: 2;

      @media (min-width: 480px) {
        right: -25px;
      }

      @media (min-width: 576px) {
        top: 65px;
      }

      @media (min-width: 992px) {
        top: 90px;
      }
    }
  }

  &__icon {
    grid-area: icon;
    font-size: rem(130);

    @media (min-width: 576px) {
      top: -20px;
      right: -180px;
    }

    @media (min-width: 992px) {
      right: -200px;
    }
  }

  &__info {
    grid-area: info;
    font-weight: 700;
    font-size: rem(22);
    line-height: 1.68;
    text-transform: uppercase;

    @media (min-width: 992px) {
      margin-bottom: 40px;
    }
  }
}