.canvas {
  margin-right: 100px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__form {
    display: flex;
  }

  &__search {
    display: flex;
    align-items: center;
    width: 204px;
    height: 31px;
    margin-left: 20px;
    background: #FAFAFA;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;

    &::before {
      content: '';
      flex-grow: 0;
      flex-shrink: 0;
      display: block;
      width: 12px;
      height: 12px;
      margin-left: 9px;
      margin-right: 16px;
      background: url('../assets/images/icons/search.svg');
    }

    input {
      width: 100%;
      height: 100%;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 21px;
      background: #fff;
      border: 0;
      outline: 0;
    }
  }

  &__el {
    width: 512px;
    height: 512px;
    box-shadow: $shadow-main;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
}