.actions {
  grid-area: actions;
  display: flex;

  &__change-image {
    display: flex;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background-color: rgba(180, 184, 187, 0.4);
    background-image: url('../assets/icons/pic.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;

    &:not(:disabled):hover::after {
      transform: rotate(180deg);
    }

    &::after {
      content: '';
      background-image: url('../assets/icons/refresh.svg');
      width: 15px;
      height: 20px;
      margin: auto;
      transition: all 0.5s;
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  &__lang {
    min-width: 70px;
    margin-right: 10px;
    padding-left: 10px;
    background-color: rgba(180, 184, 187, 0.4);
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;

    option {
      background-color: rgba(180, 184, 187, 1);
      border: 0;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__measure {
    display: flex;
    margin-left: auto;

    @media (min-width: 576px) {
      margin-left: 0;
    }

    &-item {
      &:first-child label {
        border-radius: 5px 0 0 5px;
      }

      &:last-child label {
        border-radius: 0 5px 5px 0;
      }
    }

    label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      background: rgba(174, 181, 185, 0.5);
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      opacity: 0.4;
      cursor: pointer;
      transition: all 0.25s;
    }

    input {
      position: absolute;
      top: 1px;
      left: 1px;
      opacity: 0;
    }

    input:checked ~ label {
      opacity: 1;
    }
  }
}