.forecast {
  grid-area: forecast;
  display: flex;
  margin-top: 35px;
  list-style: none;

  &__item {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__day {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
  }

  &__temp {
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
    text-transform: uppercase;
  }

  &__icon {
    font-size: 66px;
    margin-left: 10px;
  }
}