.forecast {
  grid-area: forecast;
  justify-self: center;
  display: flex;
  margin-top: 40px;
  list-style: none;

  @media (min-width: 992px) {
    margin-top: 0;
    justify-self: flex-start;
  }

  @media (min-width: 1200px) {
    margin-top: 35px;
  }

  &__item {
    margin-right: 15px;

    @media (min-width: 480px) {
      margin-right: 25px;
    }

    @media (min-width: 992px) {
      margin-right: 50px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__day {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: rem(22);
    text-transform: uppercase;
  }

  &__temp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: rem(80);
    line-height: rem(98);
    text-transform: uppercase;

    @media (min-width: 480px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__icon {
    font-size: rem(66);

    @media (min-width: 480px) {
      margin-left: 10px;
    }
  }
}