.location {
  grid-area: location;
  align-self: end;

  &__map {
    border-radius: 20px;
  }

  &__position {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: right;
  }
}