*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.app {
  height: 100%;
  padding: 40px 90px 97px;
  background: linear-gradient(180deg, rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%);
}

.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 375px;
  grid-template-areas: 'actions search'
                       'today-weather location'
                       'forecast location';
  max-width: 1260px;
  height: 100%;
  margin: 0 auto;
}