@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap&subset=cyrillic');
@import url('https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css');
@import url('~open-weather-icons/dist/css/open-weather-icons.css');

@import 'variables';
@import 'functions';
@import 'icons';
@import 'base';

@import 'components/actions';
@import 'components/search';
@import 'components/today-weather';
@import 'components/forecast';
@import 'components/location';
